* {
  font-family: Helvetica-Neue, Arial, sans-serif;
}
h1 {
  font-family: Futura, sans-serif;
  font-size: 4em;
  margin: 20px 0;
  font-weight: 400;
  color: #FFA500;
}
.button {
  background: -webkit-linear-gradient(top,#008dfd 0,#0370ea 100%);
  border: 1px solid #076bd2;
  color: #fff;
  display: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.3;
  padding: 8px 25px;
  text-align: center;
}
.center {
  padding: 10px;
  text-align: center;
}
.final {
  color: black;
  padding-right: 3px;
}
.interim {
  color: gray;
}
.info {
  font-size: 14px;
  text-align: center;
  color: #777;
  display: none;
}
#info {
  font-size: 20px;
  text-align: center;
  color: #777;
  visibility: hidden;
}
#results {
  font-size: 14px;
  border: 1px solid #ddd;
  padding: 15px;
  text-align: left;
  min-height: 150px;
  margin: 10px 80px;
}
#start_button {
  border: 0;
  background-color: transparent;
  padding: 0;
}
