html {
  font-size: 10px;
}

body {
  background: #cecece;
  font-family: 'helvetica Neue';
  font-weight: 200;
  font-size: 20px;
}

.words {
  max-width: 500px;
  margin:50px auto;
  background: white;
  padding:1rem 2rem 1rem 5rem;
  background-size: 100% 3rem;
  position: relative;
  line-height: 3rem;
}
